.login-form-container {
  width: 60%;
  margin-left: 20%,
}

.auth-form {
  margin: auto;
  width: 100%;
}

input {
  width: 100%,
}

.code1-editor-container {
  max-height: 100%;
  width: 100%;
  background: palette('white');
  overflow-y: scroll;
  cursor: text;
  grid-area: code1;
}

.CodeMirror {
  width: 100%;
}
